<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BatchStoreEmailTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommonSoap"/>
                <binding name="basicHttp" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                    <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://crsws1.corp.crs-services.com/BatchStoreEmailSystem_WS/Common.asmx" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="BatchStoreEmailSystem_WS.CommonSoap" name="CommonSoap"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <BatchStoreEmailTool.Properties.Settings>
            <setting name="TestSetting" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>LIVE</value>
            </setting>
            <setting name="MaxAttachments" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="TestEmailAddress" serializeAs="String">
                <value>blongstreet@classicburgers.com</value>
            </setting>
            <setting name="LastAttachmentLocation" serializeAs="String">
                <value>%userprofile%\Documents\</value>
            </setting>
        </BatchStoreEmailTool.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
